@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lato:wght@300&family=Oswald:wght@200&family=Roboto:wght@300&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Acme', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

main {
    flex-grow: 1;

}


header {
    height: 50px;
    background-color: rgb(29, 29, 230);
}

#main-title {
    font-family: 'Acme', sans-serif;
    font-size: 32px;
    float: left;
    margin-left: 30px;
    color: white;
}

#option {
    font-size: 20px;

}

#option li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 10px;
}

#option a {
    text-decoration: none;
    color: white;
}

#option a:hover {
    border-bottom: 1px solid white;
}

#image {
    float: left;
    width: 50%;
    background-color: rgb(218, 228, 228);
    height: 500px;
}

img {
    width: 100%;
    height: 100%;
}



#content {
    background-color: aqua;
    float: right;
    height: 100%;
    width: 50%;

    text-align: center;

}

#content>div {
    margin-top: 10%;
    width: 50%;
    margin-left: 10%;
    font-size: 30px;



}

#main-content {
    height: 500px;
    background-color: blue;

}

.aboutus {
    background-color: #202521;
    color: #f5eaea;
    height: 400px;
    width: 100%;
    margin-top: 10%;
    text-align: center;
}

.aboutus>h3 {

    font-size: 200%;
}

#text {
    margin-top: 5%;
    font-family: 'Lato', sans-serif;
    font-size: 150%;



}

#text ul {
    overflow: hidden;
    margin-top: 2%;


}

.whole-form {
    background-position: center;
    height: 600px;
}

.singup-form {
    margin: 150px 0 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 35%;
    padding: 30px;
}

.changeP {
    color: #053257;
    margin-bottom: 10px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}



.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #1cb63d;
    color: #f5eaea;
}